<h1>You have chosen the Transformer model</h1>
<h2>Choose now your hyperparameters before launching fitting part</h2>

<body>
    <form method="POST" action="/training">
    <p>Number of epochs <input type = "number" step=1 name = "epochs" /></p>
    <p>Learning rate <input type = "number" step=10e-10 name = "lr" /></p>
    <p>Batch size <input type = "number" step=1 name = "batch_size" /></p>
    <p>Patch size <input type = "number" step=1 name = "patch_size" /></p>
    <p>Projection dimension <input type = "number" step=1 name = "projection_dim" /></p>
    <p>Weight decay <input type = "number" step=10e-10 name = "weight_decay" /></p>
    <p>Number of heads <input type = "number" step=1 name = "num_heads" /></p>
    <p>Transformer layer <input type = "number" step=1 name = "transformer_layers" /></p>
    <p><input type = "submit" value = "Launch training" /></p>
</form>

</body>